.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 2px solid black;
  width: 100px;
  height: 40px;
  margin: 20px;
}
button:hover {
  background-color: black;
  color: white;
}
.tab-content {
  border: 2px solid black;
  width: 500px;
  height: 100px;
  margin: 10px 20px;
  padding: 10px;
}
