* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pad {
  width: 40%;
  height: auto;
  margin: 30px;
  padding: 30px;
  border: 3px solid black;
  font-size: 30px;
  font-family: Arial, sans-serif;
}
.d-flex {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
}
.d-flex button {
  border: 3px solid black;
  width: 80px;
  height: auto;
  font-size: 27px;
  background-color: yellow;
  box-shadow: 5px 5px black;
}

button:active {
  background-color: rgb(135, 135, 45);
  transform: translateY(2px);
}
